In [37]:
# Pandas Hakkında
# Pandas Data Frame'ler ver kendine özel seriler ile veri manipülasyonları ve hesaplamaları yapabileceğimiz büyük bir kütüphanedir.
import pandas as pd

### Csv Dosyası Okuma

In [40]:
file_path = r"C:\Users\alica\OneDrive\Masaüstü\study_performance.csv"
# Bize dataFrame olarak datayı getirecektir.
my_data = pd.read_csv(file_path)
my_data

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

### Data Frame - Pandas Series

In [39]:
# Pandas 2 boyutlu bir tablo yapısı olan dataFrame ile verileri yönetir.
# Data Frame'de her kolon bir dizidir aslında.
arr = my_data["reading_score"] # İstenilen kolonu getirir.
print(type(arr)) # Buradan her kolonun bir pandas serisi(dizisi) olduğunu anlarız
arr2 = my_data[["math_score",'reading_score',"writing_score"]] # Bu şekilde birden fazla data da getirebiliriz.
new_series = pd.Series([19,20,21], name="Ages") # Bu şekilde bir pandas serisi oluşturabiliriz
new_series.min() # Serideki en küçük değeri getirir.
new_series.max() # Serideki en büyük değeri getirir.
# Seri veya Data Frame içindeki bilgileri analiz eder. Şimdilik ayrıntısına girmiyorum. Yalnızca sayısal değerleri analiz eder.
new_series.describe()
my_data.describe()

<class 'pandas.core.series.Series'>

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000